<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js" integrity="sha512-zN6KYOtONNTOGXz0RkWX2EpavN9VdIs+2w+To+fhciFv83YA9maUpi2lzZWrOfKXdFIZZomWufBznkyHi3a8oQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/public/css/chat.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yuke | <%= title %></title>
</head>

<body>
    <div class="mainContainer">
        <div id="gridContainer">
            <div class="grid">
                <div id="me">
                    <div>
                        <img id="profilePicture" src="https://www.gravatar.com/avatar/<%= user.email %>?d=retro"
                            alt="profilePicture">
                        <label id="username"><%= user.username %></label>
                    </div>
        
                    <div>
                        <span class="selectIcons" id="logout">
                            <i class="fas fa-sign-out-alt"></i>
                        </span>
        
                        <span class="selectIcons" id="settings">
                            <i class="fas fa-cog"></i>
                        </span>
        
                        <span class="selectIcons" id="friends">
                            <i class="fas fa-user-friends"></i>
                        </span>
                    </div>
                </div>
    
                <div id="contactGrid">
    
                    <% user.friends.forEach(us => { %>
                        <div class="contact">
                            <div>
                                <img class="contactProfilePicture" src="https://www.gravatar.com/avatar/<%= us.email %>?d=retro">
                            </div>
        
                            <div>
                                <h1 class="contactName"><%= us.username %> <span class="statusSign"></span></h1>
                                <p class="contactStatus">status bude zde</p>
                            </div>
                        </div>
                    <% }) %>
    
                </div>
            </div>
    
            <div class="grid">
                <div id="userInfo">
                    <div>
                        <img class="contactProfilePicture" src="https://www.gravatar.com/avatar/194b6e63889a2f9c433fc99f5569060?d=retro">
                        <label>Atsukoro <span class="statusSign"></span></label>
                    </div>
    
                    <div>
                        <button id="phoneCall">
                            <i class="fas fa-phone"></i>
                        </button>
    
                        <button id="videoCall">
                            <i class="fas fa-camera"></i>
                        </button>
    
                        <button id="more">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                    </div>
                </div>
    
                <ul id="messages">
                    <li class="messageAuthor">Ahoj</li>
                    <li class="messageOpponent">cau cau</li>
                    <li class="messageAuthor">Ahoj</li>
                    <li class="messageOpponent">cau cau</li>
                    <li class="messageAuthor">Ahoj</li>
                    <li class="messageOpponent">cau cau</li>
                    <li class="messageOpponent">cau cau</li>
                    <li class="messageOpponent">cau cau</li>
                    <li class="messageAuthor">Ahoj</li>
                    <li class="messageOpponent">cau cau</li>
                    <li class="messageAuthor">Ahoj</li>
                    <li class="messageAuthor">Ahoj</li>
                    <li class="messageOpponent">cau cau</li>
                    <li class="messageAuthor">Ahoj</li>
                    <li class="messageAuthor">Ahoj</li>
                    <li class="messageOpponent">cau cau</li>
                    <li class="messageAuthor">Ahoj</li>
                    <li class="messageAuthor">Ahoj</li>
                    <li class="messageOpponent">cau cau</li>
                    <li class="messageAuthor">Ahoj</li>
                    <li class="messageAuthor">Ahoj</li>
                    <li class="messageOpponent">cau cau</li>
                    <li class="messageAuthor">Ahoj</li>
                </ul>
    
                <div id="messageInputContainer">
                    <input type="text" id="messageInput" placeholder="Your message...">
                    <button id="messageButton"><i class="fas fa-paper-plane"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div id="settingsGrid">
        <div id="settingsBackground"></div>

        <div id="settingsWindow">
            <button id="settingsClose"><i class="fas fa-times"></i></button>

            <label class="sTitle">Change username</label><br>
            <input type="text" class="sInput" id="newUsername" placeholder="Your new username" value="Atsukoro">
            <button class="sButton" id="saveUsername">save</button>

            <br><br>

            <label class="sTitle">Change email</label><br>
            <input type="email" class="sInput" id="newEmail" placeholder="Your new email" value="atsukoro@gmail.com">
            <button class="sButton" id="saveEmail">save</button>

            <br><br>

            <label class="sTitle">Password</label><br>
            <input type="password" class="sInput" id="oldPass" placeholder="Your old password">
            <input type="password" class="sInput" id="newPass" placeholder="Your new password">
            <button class="sButton" id="savePassword">save</button>
        </div>
    </div>

    <div id="logoutGrid">
        <div id="logoutBackground"></div>

        <div id="logoutWindow">
            <button id="logoutClose"><i class="fas fa-times"></i></button>

            <h1 id="logoutTitle">Do you really want to log-out?</h1>
            <button id="logUserOut">Logout</button>
        </div>
    </div>

    <div id="friendsGrid">
        <div id="friendsBackground"></div>

        <div id="friendsWindow">
            <button id="friendsClose"><i class="fas fa-times"></i></button>

            <div id="friendsColumnGrid">
                <div class="friendsColumn">
                    <h1 class="friendsColumnTitle">Friends</h1>

                    <div id="fContainer">

                        <% if(user.friends) { %>
                        <% user.friends.forEach(us => { %>
                        <div id="<%= us._id.toString() %>" class="fContact">
                            <div>
                                <img class="fContactProfilePicture" src="https://www.gravatar.com/avatar/<%= us.email %>?d=retro">
                                <label id="fContactName"><%= us.username %></label>
                            </div>

                            <div>
                                <button onclick="removeFriend('<%= us._id.toString() %>')" class="fButtons"><i class="fas fa-user-times"></i></button>
                                <button onclick="blockUser('<%= us._id.toString() %>')" class="fButtons"><i class="fas fa-ban"></i></button>
                            </div>
                        </div>
                        <% }); %>
                        <% } %>

                    </div>
                </div>

                <div class="friendsColumn">
                    <h1 class="friendsColumnTitle">Incoming friend requests</h1>

                    <div id="ifContainer">

                        <% if(user.ingoingFriendRequests) { %>
                        <% user.ingoingFriendRequests.forEach(us => { %>
                            <div id="<%= us._id.toString() %>" class="fContact">
                                <div>
                                    <img class="fContactProfilePicture" src="https://www.gravatar.com/avatar/<%= us.email %>?d=retro">
                                    <label id="fContactName"><%= us.username %></label>
                                </div>
    
                                <div>
                                    <button onclick="acceptFriendRequest('<%= us._id.toString() %>')" class="fButtons"><i class="fas fa-check"></i></button>
                                    <button onclick="declineFriendRequest('<%= us._id.toString() %>')" class="fButtons"><i class="fas fa-times"></i></button>
                                </div>
                            </div>
                        <% }); %>
                        <% } %>

                    </div>
                </div>

                <div class="friendsColumn">
                    <h1 class="friendsColumnTitle">Outgoing friend requests</h1>

                    <div id="addFriendsFlexbox">
                        <input type="text" id="addFriendsInput" placeholder="Enter a user ID..">
                        <button onclick="addFriend(document.getElementById('addFriendsInput').value)" id="addFriendsButton"><i class="fas fa-plus-circle"></i></button>
                    </div>

                    <div id="ofContainer">

                        <% if(user.outgoingFriendRequests) { %>
                        <% user.outgoingFriendRequests.forEach(us => { %>
                        <div id="<%= us._id.toString() %>" class="fContact">
                            <div>
                                <img class="fContactProfilePicture" src="https://www.gravatar.com/avatar/<%= us.email %>?d=retro">
                                <label id="fContactName"><%= us.username %></label>
                            </div>

                            <div>
                                <button class="fButtons"><i class="fas fa-times"></i></button>
                            </div>
                        </div>
                        <% }); %>
                        <% } %>

                    </div>
                </div>
            </div>
        </div>

        <script>
            const socket = io();

            socket.onAny((event, ...args) => {
                console.log(event, args);
            });
        </script>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script src="/public/js/chatWindowController.js"></script>
    <script src="/public/js/friendsControl.js"></script>
    <script src="/public/js/userController.js"></script>
</body>

</html>